<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left">Pollz</a>
      <ul id="nav-mobile" class="right">
        <% if(user) { 
          var trimmedUserName = user.replace(/[@].*/, ''); %>
        <li>Hi, <%= trimmedUserName %>! </li>
        <li><a href="/logout">(logout)</a></li>
        <li><a href="/poll">New Poll</a></li>
        <li><a href="/my-polls">My Polls</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>