<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Pollz</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(user) { 
          var trimmedUserName = user.replace(/[@].*/, ''); %>
        <li><%= trimmedUserName %></li>
        <li><a href="/logout">(logout)</a></li>
        <li><a href="/restricted">New Poll</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>