.brand-logo {
  margin-left: 10px;
}

#poll-title {
  font-size: 1.3em;
  font-weight: bold;
}

.poll-list-item {
  padding: 5px;
}

.inline-li-buttons {
  display: inline;
}

.hoverable:hover {
  background-color: #DDD;
}