<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
    <p class='center'>Choose a poll to vote in from the options below, or <a href="/poll">create a new one</a></p>
      <div class='collection'>
               
        <% for( var i = 0; i < docs.length; i++ ) { %>
        <a class='collection-item' href="/results/<%= docs[i]._id %>"><%= docs[i].poll %></a>
        <% } %>

      </div>
    </div>

    <% include ../partials/scripts.ejs %>
  </body>
</html>