<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
    <p>Choose a poll to vote in from the options below, or <a href="/restricted">create a new one</a></p>
      <div class='poll-list'>
               
        <% for( var i = 0; i < docs.length; i++ ) { %>
        <div class='center-align poll-list-item'><a href="/results/<%= docs[i]._id %>"><%= docs[i].poll %></a></div>
        <% } %>

      </div>
    </div>

    <% include ../partials/scripts.ejs %>
  </body>
</html>