<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
      <p>
      <form action="/sendtoken" method="POST">
      <br>
        <div class='input-field'>
          <label for="user">Email</label>
          <input name="user" type="text">
        </div>
        <br><input class='waves-effect waves-light btn' type="submit" value="Login / Register">
      </form>
      </p>
      <ul>
        <li>
          <a href='/'>Back to homepage</a>
        </li>
        <li>
          <a href='/restricted'>Restricted page</a>
        </li>
      </ul>
    </div>
    <% include ../partials/scripts.ejs %>
</body>