<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
    <script src="/scripts/charts.js"></script>
  </head>
  <body>
    <% include ../partials/results-share-fb-code.ejs %>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
 
    <h1>Page not found</h1>
    <p>I used up all my jokes on the Privacy Policy page. You're lost, and probably not in the mood for humour. Here is a link back to safety: <a href="/">Never gonna Rickroll you</a>.</p>

    </div>

    <% include ../partials/scripts.ejs %>
  </body>
</html>