<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
    <br><br>
    <h1>Pollz Privazy Polizy</h1>
    <p>I have better things to do than work out who you are or what you do on the internet when you're not voting on polls on this site. As such, we collect only the bare minimum of information to provide the features you want to use.</p>
    <p>Since this site is hosted on a free plan, with a stupid overly-Zeddy subdomain name, and relies on a slow-as-you-like Outlook account for delivering password tokens, it literally cost nothing to run. In exchange for this, we make no attempt to make money off you! No ads, no tracking, no selling your email to knock-off Viagra distributors.</p>
    <h2>Email</h2>
    <p>We use whichever email address you provide us with (providing you can access it, of course) to verify that you are a person, to give you some semblance of site-wide identity, and to give you a way to easily return to the polls you previously created to see how they went. We make a username for you, based on the non-host part of your email address. So bob@example.com will show up as 'bob'. We do that so that people's online identities are somewhat attached to the polls they create, without revealing your actual email address to Nigerian Princes.</p>
    <p>Behind the scenes we keep a record of the polls you create and vote on, just to limit the number of votes you can cast on a single poll. We don't actually log what you voted for, so if 'Hilary Vs. Trump' comes up, only you will know which way you went on that one. It's better for everyone that way.</p>
    <h2>Cookies</h2>
    <p>Yep, we use put one in your browser. It let's us know you are logged in. It doesn't know what you were watching on Netflix or anything though.</p>
    <p>We have a little Facebook share button on the results pages, and that comes with NINE extra cookies. I can neither confirm nor deny whether Mark Zuckerberg is using them to watch you shower.</p> 
    <h2>Yeah, but how do we know you are telling the truth?</h2>
    <p>All the code for this webiste is available on GitHub: <a href="http://github.com/JacksonBates/voting-app">Pollz on Github</a>. You can read it for yourself. If you read something in the code that alarms you (no, not mixed tabs and spaces), shoot me a message as a GitHub issue and I'll try to address your concerns (or fix whatever egregious security concerns you uncover).</p>
    <br>
    <p>Return to the <a href="/">home page</a>.</p>

    <% include ../partials/scripts.ejs %>
  </body>
</html>