<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
      <p>
      This page is only accessible for authenticated users! Psssss... This is a secret!
      </p>
      <ul>
        <li>
          <a href='/'>Back to homepage</a>
        </li>
      </ul>
      </p>
    </div>
    <% include ../partials/scripts.ejs %>
  </body>
</html>