<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/navbar.ejs %>
    <div class='container'>
    <%= JSON.stringify(result) %>
    </div>

    <% include ../partials/scripts.ejs %>
  </body>
</html>